.DS_Store
[Tt]humbs.db

*.user

*.swp
*.swo
*.swn
*.un~
*~
*.backup

*.out
*.aux
*.toc
*.idx
*.synctex.gz

*.suo
*.pdb
*.exe
*.dll
*.pyc

node_modules/
build/
obj/
Debug/
Release/

*.log
server_config.coffee
.idea
